.login-form {
  max-width: 400px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.captcha-group{
  display: flex;
  align-items: center;
  .captcha{
    width: 80px;
    height: 32px;
  }
  input{
    width: calc(100% - 88px);
    margin-right: 8px;
  }
}