/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.snow.css';
/* @import '~quill/dist/quill.bubble.css';  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
img {
    border: 0;
    display: block;
}